
POST localhost:8093/invoices
JSON Content
{
    "numberInvoice":"002",
    "description":"invoice store",
    "customerId":2,
    "items":[
      {
        "quantity":1,
        "price":178.89,
        "productId":1
      },
      {
        "quantity":2,
        "price":50.89,
        "productId":3
      }
    ]
}